.wrapper {
    padding: 50px 25px;
    min-height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: linear-gradient(180deg, rgb(9, 0, 58), rgb(0, 0, 136, 0.8)); */
}


.projects {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    overflow-x: scroll;
    width: 100%;
}



@media (min-width:1024px) {
    .wrapper {
        padding: 10px var(--percent);
    }
}

@media (max-width:720px) {
    .projects {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        width: 100%;
        overflow-x: scroll;
        gap: 10px;
        padding: 5px;
    }

    .wrapper {
        padding: 50px 15px
    }
}

@media (max-width: 570px) {
    .wrapper {
        padding: 30px 15px;
        text-align: left
    }

}