.wrapper {
    padding: 50px;
    min-height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: linear-gradient(180deg, rgb(9, 0, 58), rgb(0, 0, 136, 0.8)); */
}




@media (max-width:720px) {
    .projects {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        width: 100%;
        overflow-x: scroll;
        gap: 10px;
        padding: 5px;
    }

    .wrapper {
        padding: 50px 15px
    }
}