.wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    background-color: white;
    border-top: 1px solid rgb(131, 219, 219);
    border-radius: 5px
}


.wrapper input {
    min-width: 100%;
    padding: 5px;
    height: 50px;
    padding-right: 50px;

}

.wrapper .button {
    position: absolute;
    right: 7px;
    top: 8px;
    color: rgb(99, 173, 238);
}