.work__wrapper {
  padding: 50px 25px;
  ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 90vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-bottom: 10px;
}

.grid .item {
  border-radius: 5px;
  color: black;
  padding: 15px;
  text-align: center;
  /* background-color: rgb(255, 0, 0, 0.1); */
  /* background-color: rgb(0, 129, 0, 0.1); */
  /* background-color: rgb(255, 255, 0, 0.1); */
  /* background-color: rgb(131, 0, 131, 0.1); */

  max-width: 200px;
  box-shadow: 2px 2px 2px 2px rgb(234, 234, 234);

}

.grid .item .left .title {
  font-weight: bold;
  margin-bottom: 10px;
}


@media (min-width:1024px) {
  .work__wrapper {
    padding: 10px var(--percent);
  }
}


@media (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

  }
}

.btn {
  background: var(--linearbg1);
  padding: 7px 10px;
  border-radius: 15px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  margin-top: 10px;
}

@media (max-width: 570px) {
  .work__wrapper {
    padding: 30px 15px;
    text-align: left;
    align-items: flex-start;

  }

  .grid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .grid .item {
    width: 100%;
    display: flex;
    min-width: 100%;
    gap: 10px;
    align-items: center;
    padding: 10px;
  }

  .grid .item .icon {
    flex: 1
  }

  .grid .item .icon img {
    width: 100%;
    height: 100%;
  }

  .grid .item .left {
    flex: 2;
    text-align: left;
  }
}

@media (max-width:480px) {
  .work__wrapper {
    padding: 30px 10px
  }
}