.wrapper {
  min-height: 100vh;
  background-color: var(--black);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 25px;
  ;
}

.description {
  font-size: 115%;
  text-align: center;
}

.benifits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.title {
  font-size: 140%;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: -15px;
}

.title img {
  background: white;
  border-radius: 50%;
}


@media (min-width:1024px) {
  .wrapper {
    padding: 10px var(--percent);
  }
}

@media (max-width: 570px) {
  .wrapper {
    padding: 30px 15px;
    text-align: left;
    align-items: flex-start
  }

  .benifits {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}