.wrapper {
  background-color: var(--black);
  padding: 25px;
  color: white;
}

.wrapper .grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
}


.grid .left,
.grid .right,
.grid .mid {
  flex: 1;
}

.mid .flex {
  display: flex;
  align-items: center;
  margin: 15px 0;
  /* gap: 25px; */
  justify-content: space-between;
  text-align: left;
}


.mid .flex .link {
  flex: 1;
  cursor: pointer;
}

.mid .flex .link:hover {
  color: aqua
}

.right .flex {
  display: flex;
  gap: 25px;
  margin: 15px 0;
}

.right .email,
.right .phone {
  margin: 10px 0
}

.right .email span,
.right .phone span {
  color: aqua
}

.bottom {
  text-align: center;
  border-top: 1px solid rgb(100, 100, 100);
  padding: 15px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 10px 0 0 0;
}

@media (max-width:570px) {
  .wrapper {
    padding: 30px 15px
  }

  .wrapper .grid {
    flex-direction: column;
    gap: 0;
  }

  .mid,
  .left,
  .rigth {
    width: 100%;
  }

  .mid .flex {
    justify-content: space-between;
  }
}