.header {
  text-align: center;
  min-height: 100vh;
  position: relative;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(145.7deg, rgb(0, 0, 0) 7.61%, rgba(0, 0, 0, 0) 79.73%), linear-gradient(229.74deg, rgb(48, 48, 114) 9.39%, rgba(0, 0, 255, 0) 83.29%), linear-gradient(83.06deg, #00FFFF 2.35%, #ff00e6 94.92%);
  max-height: 100vh;
  overflow: hidden;
}



.surface {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(145.7deg, rgb(0, 0, 0, 0.4) 7.61%, rgba(0, 0, 0, 0.4) 79.73%), linear-gradient(229.74deg, rgb(48, 48, 114, 0.4) 9.39%, rgba(0, 52, 164, 0.4) 83.29%), linear-gradient(83.06deg, rgb(0, 255, 255, 0.4) 2.35%, rgb(255, 0, 230, 0.4) 94.92%);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* .header video {
  min-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
} */



.header .content {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: aliceblue;
  height: 100%;
  padding: 0 25px;
  text-align: left;
  /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 60, 255, 0.1)); */
  /* text-shadow: 2px 2px 2px rgb(0, 0, 0); */

}


.header .content h1,
.header .content h3,
.header .content p,
.header video {
  position: relative;
  z-index: 1;

}




.btn {
  background: var(--linearbg1);
  padding: 7px 10px;
  border-radius: 15px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
}


.header .surface {
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.header .surface .video__container {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
}



.header .surface .left {
  flex: 1;
  /* background: red; */
  height: 100%;
}

.header .surface .right {
  flex: 1;
  color: aliceblue;
  padding: 25px;

}






.star,
.triangle,
.circle_1,
.circle_2 {
  position: absolute;
}

.star {
  clip-path: polygon(50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%);
  height: 30px;
  width: 30px;
  bottom: 80px;
  right: 80px;
}

.triangle {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  height: 25px;
  width: 25px;
  bottom: 250px;
  left: 15%;
}

.triangle,
.star {
  background: rgb(0, 255, 255);
}

.circle_1,
.circle_2 {
  height: 200px;
  width: 200px;
  background-color: rgba(92, 68, 197, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle_1 {
  bottom: -100px;
  left: -70px;
}

.circle_2 {
  bottom: 100px;
  right: -100px;
}

.inner_cirlce_1,
.inner_cirlce_2 {
  border-radius: 50%;
  background: rgb(1, 12, 42);
  height: 170px;
  width: 170px;
}

.profile__photo {
  border-radius: 50%;
  /* border: 2px solid lightgrey; */
  overflow: hidden;
}



.right h2 {
  display: none;
  ;
}

@media (min-width:1024px) {
  .header .surface .left {
    padding-left: var(--percent);
  }

  .header .surface .content {
    padding: 0;
  }

  .header .surface .right {
    padding-right: var(--percent);
  }
}

@media (max-width:720px) {
  .surface {
    padding-top: 30px;
  }

  .right h2 {
    display: block;
    text-align: left;
  }

  .left h2 {
    display: none;
  }


  .surface {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0;
  }

  .header .surface .right,
  .header .surface .rightt {
    width: 100%;
  }

  .header .surface .right {
    padding: 0 15px;
  }

  .header .content {
    justify-content: flex-start;
    padding: 0 15px;
  }
}


@media (max-width: 570px) {
  .header {
    padding: 30px 15px;
    text-align: left
  }

  .header .content {
    align-items: flex-start;
  }

  .surface {
    padding-top: 60px;
  }

}