.wrapper {
  /* padding: 50px; */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper h2 {
  text-align: center;
}

.flex {
  display: flex;
  overflow-x: scroll;
  gap: 15px;
  padding: 10px;
}

.flex .card {
  font-size: 80%;
  background: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 200px;
  min-width: 195px;
  box-shadow: 2px 2px 2px 2px rgb(229, 235, 235);
}

.card .name {
  font-weight: bold;
}

.card .star {
  margin: 10px 0;
}
