.wrapper {
  /* padding: 50px; */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.wrapper h1 {
  text-align: center;
  z-index: 1;
}

.flex {
  display: flex;
  overflow-x: scroll;
  gap: 15px;
  padding: 10px;
  z-index: 1;
}

.flex .card {
  font-size: 80%;
  background: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 200px;
  min-width: 195px;
  box-shadow: 2px 2px 2px 2px rgb(229, 235, 235);
  text-align: left;
}

.bgLine {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  bottom: 50%;
  left: 0%;
  right: 0%;
}

.card .name {
  font-weight: bold;
}

.card .star {
  margin: 10px 0;
}

.card__flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 5px;
}

.card__flex .left {
  display: flex;
  gap: 5px;
  align-items: flex-start;
}

.card__flex .left .location {
  font-size: 90%;
  color: grey;
}
